article {
    display: flex;
    flex-flow: row wrap;
    align-content: space-around;
    width: 80%;
    margin: 0 auto;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

article section {
    padding: 1rem 2rem;
    flex: 1 auto;
    width: 35%;
    min-width: 16rem;
    text-align: center;
}

@media only screen and (max-width: 50rem){
    article{
        padding-top: 1rem;
        padding-bottom: 0rem;
    }
}

section img {
    width: 100%;
    max-width: 30rem;
    height: auto;
}

article section h2{
    display: none;
}

section h4, section h5, section h6, aside h2{
    padding: 1rem;
    padding-bottom: 2rem;
    font-size: 2.25rem;
    font-weight: bold;
    font-family: 'Orbitron', 'Alegreya Sans SC', sans-serif;
}


article section > p {
    text-align: justify;
    line-height: 1.25;
    margin-bottom: 1rem;
}

aside{
    width: 80%;
    margin: 0 auto;
    padding-bottom: 3rem;
    text-align: center;
}

aside figure img{
    width: 100%;
    max-width: 60rem;
    height: auto;
}