section {
    width: 80%;
    margin: 0 auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
}

article {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

article h4 {
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    font-size: 2.5rem;
    line-height: 1.25;
    padding-bottom: 1.5rem;
    
}

article h2 {
    text-align: right;
    font-size: 2rem;
    padding-bottom: 0.25rem;
    padding-right: 0.5rem;
}

article p {
    text-align: right;
    color: gray;
    padding-right: 0.5rem;
}

.odd-light{
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.odd-light h4 {
    color: inherit;
}

.odd-light h2 {
    color: inherit;
}

.odd-light p {
    color: gray;
}

.even-dark {
    background-color: rgba(55, 55, 55, 1);
    border-radius: 0rem 3rem;
}

.even-dark h4 {
    color: white;
}

.even-dark h2 {
    color: white;
}

.even-dark p {
    color: gray;
}

#img-container{
    margin-bottom: 2rem;
}

article img{
    width: 100%;
    margin: 0 auto;
    max-width: 60rem;
    height: auto;
    border-radius: 0rem 3rem;

    border: 0.5rem solid rgba(55, 55, 55, 1);
}


@media only screen and (min-width: 60rem){
    #img-container{
        background-color: rgba(55, 55, 55, 1);
        border-radius: 0rem 3rem;
    }

    article img{
        width: 90%;
        border: 0;
    }
}